<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAP5bO_THZGOQ_iDFInZC4eCOTkdWKRPgw</string>
	<key>GCM_SENDER_ID</key>
	<string>421127787897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sude.NewsApp1</string>
	<key>PROJECT_ID</key>
	<string>newsapp-7147b</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-7147b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421127787897:ios:420253272f39da5ec78ba8</string>
</dict>
</plist>